@import "vars";
/*==========  Desktop First  ==========*/

//Extra large: ≥1200px
@include media-breakpoint-down(xl) {}

//Large: ≥992px
@include media-breakpoint-down(lg) {
	#section1 {
			.container {
				.robot-img {
					width: 349px;
					right: 20px;
					top: 180px;
				}
				.sweets-blue {
					width: 125px;
					right: -4px;
					top: 180px;
				}
			}
	}
	.owl-carousel {
		.owl-item {
			.slide-1 {
				margin-left: 340px;
			}
			.slide-3{
				margin-left: 115px;
			}
		}
	}
	#section3 {
		.container {
			h1 {
				font-size: 46px;
			}
		}
	}
	#section4 {
		.container {
			padding-left: 40px;
			ul.function {
				li {
					width: 290px;
				}
			}
		}
	}
	#section6 {
		.container {
			h1{
				font-size: 35px;
			}
		}
	}
}

//Medium: ≥768px
@include media-breakpoint-down(md) {
	#section1 {
			.container {
				padding-left: 50px;
				.robot-img {
					width: 249px;
					top: 230px;
				}
				.sweets-blue {
					width: 105px;
					top: 220px;
				}
				.title-robot {
					width: 440px;
					padding: 35px 0px 25px 30px;
					margin: 30px 0 30px -30px;
					h2 {
						font-size: 32px;
					}
					span {
						font-size: 20px;
					}
				}
			}
	}
	.owl-carousel {
		.owl-item {
			.slide-1 {
				margin-left: 300px;
				max-width: 340px;
			}
			.slide-2 {
				margin-left: 30px;
				max-width: 500px;
			}
			.slide-3{
				margin-left: 115px;
			}
			.photo_woman_01 {
				width: 370px;
				bottom: 0;
				left: -10px;
			}
			.photo_woman_02 {
				width: 210px;
				bottom: 0px;
				right: 78px;
			}
			.points-img {
				width: 517px;
				left: 0px;
				bottom: -200px;
			}
			.sweets-yellow {
				width: 120px;
				right: -30px;
				bottom: -325px;
			}
			.percent {
				width: 370px;
				bottom: 0px;
			}
		}
	}

#section2 {
		.container {
			h1 {
				font-size: 46px;
			}
			h2 {
				font-size: 32px;
			}
		}
	}
	#section4{
		.container{
			padding-left: 40px;
			ul.function {
				li {
					width: 315px;
				}
			}
			h1{
				font-size: 50px;
				.cloud{
					left: 424px;
					padding: 40px 0;
					width: 200px;
					text-align: center;
				}
			}
		}
	}
	#section5 {
			.container {
				h1 {
					font-size: 50px;
					margin-top: 30px;
				}
			}
	}
	#section6 {
		.container {
			.robot-black {
				width: 200px;
				left: 55px;
				top: 235px;
			}
			h1{
				font-size: 30px;
				margin: 30px 0 30px 280px;
				line-height: 40px;
			}
			p{
				margin-left: 280px;
			}
		}
	}
}

//Small: ≥576px
@include media-breakpoint-down(sm) {
	#section1 {
			.container {
				padding-left: 40px;
			.points-img {
				width: 576px;
			}
			.robot-img {
				width: 145px;
				right: 20px;
				top: 292px;
				z-index: 200;
			}
			.sweets-blue {
				display: none;
			}
			h1 {
				font-size: 47px;
			}
			.title-robot {
				width: 524px;
				padding: 35px 0px 25px 20px;
				margin: 30px 0 30px -40px;
				// margin: 0 auto ;
				// background-color: $bg-title-robot;
				h2 {
					font-size: 30px;
				}
				span {
					font-size: 18px;
				}
			}
			}
	}

	.owl-carousel {
		.owl-item {
			.slides{
				&::before {
					top: 42px;
					left: -10px;
					content: "";
					background: $bg-slide-section-2;
					position: absolute;
					width: 100%;
					height: 100%;
					filter: blur(20px);
				}
			}
			.slide-1 {
				margin-left: 0px;
				max-width: 380px;
			}
			.slide-2 {
				margin-left: 0px;
				max-width: 360px;
			}
			.slide-3{
				margin-left: 77px;
			}
			.photo_woman_02 {
				width: 210px;
				bottom: 0px;
				right: 78px;
			}
			.points-img {
				width: 517px;
				left: 0px;
				bottom: -200px;
			}
			.percent {
				width: 340px;
				bottom: 0px;
			}
		}
	}

#section2 {
		.container {
			h1 {
				font-size: 38px;
			}
		}
	}
	#section3 {
		.container {
			h1 {
				font-size: 34px;
				line-height: 50px;
			}
			h2{
				font-size: 30px;
			}
			p{
				padding: 0 45px;
			}
		}
	}
	#section4{
		.container{
			ul.function {
				li {
					width: 100%;
					margin: 0 auto;
					padding: 0 25px 0 0;
					&:nth-child(2){
						margin-bottom: 15px;
					}
				}
			}
			h1{
				font-size: 44px;
				.cloud{
					font-size: 34px;
					top: 105px;
					left: 244px;
					padding: 30px 0;
					width: 200px;
					text-align: center;
				}
			}
		}
	}
	#section6 {
		.container {
			.robot-black {
				width: 160px;
				left: 30px;
				top: 235px;
			}
			h1{
				font-size: 24px;
				margin: 30px 0 30px 185px;
				line-height: 35px;
			}
			p{
				margin-left: 185px;
				padding-right: 20px;
			}
		}
	}
}

//Extra small: >0
@include media-breakpoint-down(xs) {
	body{
		background: $bg-section-1;
	}
	.fp-tableCell{
		height: auto!important;
	}
	section{
		height: auto!important;
	}
	.container-wr {
		min-height: auto;
	}
	.container {
	.btn {
		right: 0!important;
		left: 0!important;
		margin: 0 auto;
	}
}
	#section1 {
			.container {
				padding: 0 30px 0 30px;
			.points-img {
				width: 576px;
			}
			.robot-img {
				width: 145px;
				right: 20px;
				top: 292px;
				z-index: 200;
				display: none;/////
			}
			.sweets-blue {
				display: none;
			}
			h1 {
				font-size: 8.2vw;
			}
			.title {
				font-size: 6vw;
				// max-width: 260px;
				// border: 1px so: ;lid red;
			}
			.title-robot {
				width: 100vw;
				padding: 35px 0px 25px 30px;
				margin: 30px 0px 30px -30px;
				// margin: 0 auto ;
				// background-color: $bg-title-robot;
				h2 {
					font-size: 6vw;
				}
				span {
					font-size: 4vw;
				}
			}
			}
	}
	.owl-carousel {
		.owl-item {
			.slides{
				&::before {
					top: 42px;
					left: -10px;
					content: "";
					background: $bg-slide-section-2;
					position: absolute;
					width: 100%;
					height: 100%;
					filter: blur(20px);
				}
			}
			.slide-1 {
				margin-left: 0px;
				max-width: 380px;
			}
			.slide-2 {
				margin-left: 0px;
				max-width: 360px;
			}
			.slide-3{
				margin-left: 0px;
			}
			.photo_woman_01 {
			width: 330px;
			}
			.photo_woman_02 {
				width: 190px;
				bottom: 0px;
				right: 8px;
			}
			.points-img {
				width: 397px;
				left: 0px;
				bottom: -200px;
			}
			.percent {
				width: 60vw;
				// width: 446px;
				bottom: 0px;
			}
		}
	}
#section2 {
		.container {
			h1 {
				font-size: 7vw;
			}
			h2 {
				font-size: 5.5vw;
				padding: 0 55px;
				margin-bottom: 0px;
				letter-spacing: 0px;
			}
			p {
				font-size: 16px;
				padding: 0 55px;
				margin-top: 20px;
				margin-bottom: 0;
			}
		}
	}
	#section3 {
		.container {
			.owl-dots {
				top: 210px;
			}
			h1 {
				font-size: 6.5vw;
				line-height: 8vw;
				width: 100%;
			}
			h2{
				font-size: 6.5vw;
				margin: 298px 0 30px 0;
			}
			p{
				font-size: 16px;
				padding: 0 45px;
			}
		}
	}
	#section4{
		.container{
			padding-right: 40px;
			ul.function {
				margin-top: 22vw;
				li {
					padding: 0;
				}
			}
			h1{
				font-size: 7.5vw;
				.cloud{
					font-size: 6vw;
					top: 18vw;//90px;
					left: 20px;
					// right: 0;
					// margin: 0 auto;
					padding: 20px 0;
					width: 170px;
					text-align: center;
				}
			}
		}
	}
	#section5 {
			.container {
				h1 {
					font-size: 9vw;
				}
				h2 {
					font-size: 5.5vw;
					letter-spacing: 2px;
				}
				p{
					font-size: 16px;
				}
				h3{
					font-size: 16px;
				}
			}
	}
	#section6 {
		.container {
			.robot-black {
				width: 130px;
			}
			h1{
				font-size: 4.6vw;
				margin: 30px 0 25px 155px;
				line-height: 6.5vw;
			}
			p{
				// font-size: 16px;
				margin-left: 155px;
				padding-right: 20px;
				line-height: 6vw;
			}
			.footer{
				.gre{
					left: 30px;
				}
				span{
					font-size: 13px;
				}
			}
		}
	}
}

/*==========  Mobile First  ==========*/

//Extra small: <576px
@include media-breakpoint-up(xs) {}

//Small: ≤576px
@include media-breakpoint-up(sm) {}

//Medium: ≤768px
@include media-breakpoint-up(md) {}

//Large: ≤992px
@include media-breakpoint-up(lg) {}

//Extra large: ≤1200px
@include media-breakpoint-up(xl) {}