$default-font: "Roboto", sans-serif;

$accent: #db6360;
$light: #ffffff;
$dark: #202020;
$bg-header-btn: #ffffff;
$title-robot: #ffffff;
$border-container: #ffffff;
$arrow: #3b3b3b;
$title-section: #fff568;
$bg-section-1: #ebebeb;
$bg-section-2: #f1f8fe;
$bg-slide-section-2: rgba(241, 248, 254, .8);
$bg-section-3: #e0d9d9;
$bg-section-4: #c05754;
$cloud: #fff568;
$bg-section-5: #5674b9;
$bg-section-6: #ebebeb;

// Customization Bootstrap vars from "app/libs/bootstrap/scss/_variables.scss"
$grid-gutter-width: 30px;
$grid-columns: 12;

$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px);
$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1140px);

$gutter: $grid-gutter-width;
