
	@media screen and (max-width: 992px) {
		.close-desktop {
			display: none;
		}
		.close-mobile {
			display: block;
		}
	}
	@media screen and (max-width: 868px) {
	#about > .content{
	  padding-bottom: 120px;
	}
	#about .footer .footer-contacts {
	  margin: 0 0 auto auto;
	}
	.copyright{
	  -webkit-box-ordinal-group: 0;
	      -ms-flex-order: -1;
	          order: -1;
	}
	.gre{
	  -webkit-box-ordinal-group: 2;
	      -ms-flex-order: 1;
	          order: 1;
	  width: 100%;
	}
  }

  @media screen and (max-width: 688px) {
	#service .content .service li {
	  width: auto;
	}
	.hide-mobile {
	  display: none;
	}
	#about .footer .copyright{
    display: none;
  }
  #about .footer .footer-contacts-mobile .copyright, #about .footer .footer-contacts-mobile .gre{
    -webkit-box-ordinal-group: inherit;
        -ms-flex-order: inherit;
            order: inherit;
  }
	#about > .content {
	  padding-bottom: 156px;
	  padding-left: 0;
	  padding-right: 0;
	  padding-top: 0px;
	}
	#about .footer .footer-contacts-mobile {
	  width: 300px;
	  -ms-flex-line-pack: justify;
	      align-content: space-between;
	  display: -webkit-box;
	  display: -ms-flexbox;
	  display: flex;
	  -ms-flex-wrap: wrap;
		  flex-wrap: wrap;
	}
	#about .footer .footer-contacts-mobile div {
	  display: inline-block;
	  padding-bottom: 10px;
	}
	#about .footer .footer-contacts-mobile div:last-child {
	  padding-bottom: 0;
	}
  }

  @media screen and (max-width: 580px) {
	/* .animated {
		   -o-transition-property: none !important;
		   -moz-transition-property: none !important;
		   -ms-transition-property: none !important;
		   -webkit-transition-property: none !important;
		   transition-property: none !important;

		   -o-transform: none !important;
		   -moz-transform: none !important;
		   -ms-transform: none !important;
		   -webkit-transform: none !important;
		   transform: none !important;

		   -webkit-animation: none !important;
		   -moz-animation: none !important;
		   -o-animation: none !important;
		   -ms-animation: none !important;
		   animation: none !important;
	   }   */
	.modal {
	  -webkit-transition: opacity 0s ease-in;
	  transition: opacity 0s ease-in;
	}

	/* #child-seat .content div,
	#time .content > .text,
	#mobile-app .content > .text,
	#about .content .text,
	#mobile-app .mobile-app .mobile-link a {
	  -webkit-transition-property: none !important;
	  transition-property: none !important;
	  -webkit-transform: none !important;
	  transform: none !important;
	  -webkit-animation: none !important;
	  animation: none !important;
	} */
	#service .content h3 {
	  font-size: 20px;
	}
	#service .item {
	  padding: 0 0 0 85px;
	}
	#service .content .service li:nth-child(even) > .item,
	#service .content .service li:nth-child(odd) > .item {
	  background-size: 70px;
	}

	#child-seat .content div {
	  border-radius: 0;
	}
	#child-seat .content div,
	#time .content > .text,
	#mobile-app .content > .text,
	#about .content .text {
	  line-height: 28px;
	  letter-spacing: 0;
	}

	#time .content > .text,
	#mobile-app .content > .text,
	#about .content .text {
	  border-radius: 0;
	}
	#time .text h2,
	#child-seat div h2,
	#mobile-app .content .text .icon-app h2 {
	  font-size: 27px;
	}
	#mobile-app .content .text .icon-app {
	  max-width: 450px;
	  background: url(images/icon.png) no-repeat top left;
	  background-size: 60px;
	  padding-left: 75px;
	  padding-top: 5px;
	  height: 70px;
	  line-height: 16px;
	}
	#mobile-app .mobile-app {
	  -ms-flex-item-align: center;
		  align-self: center;
	}
	#about .content .text .logo {
	  margin: 0 auto;
	  -webkit-box-ordinal-group: 0;
		  -ms-flex-order: -1;
			  order: -1;
	}
	#about .content .text .title {
	  width: 100%;
	  margin-top: 10px;
	}
	#about .content .text {
	  padding: 15px;
	}

	#about .content .footer-wr {
	  -webkit-box-pack: center;
		  -ms-flex-pack: center;
			  justify-content: center;
	}
	#about .footer .content {
	  padding: 15px;
	}

	#about .content .text .tariffs li {
	  margin-left: 0px;
	  font-size: 16px;
	}

	#about .content .text .tariffs li:nth-child(2) {
	  margin-left: 30px;
	}
	#about .content .text .title-end {
	  font-size: 17px;
	}
	#time .content > .text {
	  letter-spacing: 0;
	}
	.modal-body {
	  padding: 25px;
	}
	#bonus .modal-body h3 {
	  font-size: 17px;
	}
  }

  @media screen and (max-width: 410px) {
		#about .content .text .logo {
		width: 180px;
		}
	h3 {
	  font-size: 14px;
	}
	#service .item {
	  padding: 0 0 0 65px;
	}
	#service .content .service li:nth-child(even) > .item,
	#service .content .service li:nth-child(odd) > .item {
	  background-size: 50px;
	}
	#service .content h3 {
	  font-size: 17px;
	}
	#child-seat div h2 {
	  line-height: 39px;
	  width: 100%;
	}

	#child-seat .content div,
	#time .content > .text,
	#mobile-app .content > .text,
	#about .content .text {
	  font-size: 16px;
	  line-height: 26px;
	}
	#time .text h2,
	#child-seat div h2,
	#mobile-app .content .text .icon-app h2 {
	  font-size: 20px;
	}

	#about .content .text .tariffs li {
	  margin-left: 0px;
	  font-size: 14px;
	}

	#about .content .text .tariffs li:nth-child(2) {
	  margin-left: 15px;
	}
	#about .content .text h2 {
	  font-size: 28px;
	}
	#mobile-app .content .text .icon-app {
	  font-size: 16px;
	}
	#about .content .text .title-end {
	  font-size: 15px;
	}

	.modal-body {
	  padding: 20px;
	}
	#bonus .modal-body div {
	  line-height: 24px;
	  font-size: 14px;
	}

	#bonus .modal-body h3 {
	  font-size: 15px;
	}
  }
  @media screen and (max-width: 320px) {
	/*Disable Animation on Mobile Devices*/

	#about .content .text .tariffs li {
	  font-size: 13px;
	}
	#about .content .text h2 {
	  font-size: 26px;
	}
	#about .content .text .title-end {
	  font-size: 19px;
	}
	#bonus .modal-body div {
	  line-height: 22px;
	  font-size: 13px;
	}
	#bonus .modal-body h3 {
	  font-size: 13px;
	}
  }
