$default-font: "Open Sans", sans-serif;
// $default-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$accent: #FF6347;
$bg-body: #FAFAFA;
$link: #4a90e2;
$text-dark: #222222;
$text-light: #f9f9f9;
