@media screen and (max-width: 1000px) {
    #header-section .text-header-block>.title-header {
        font-size: 55px;
        line-height: 55px
    }
    #header-section .text-header-block>.title-text {
        font-size: 20px;
        line-height: 30px;
    }
    #newsletter .form>[type="text"] {
        font-size: 16px;
        padding: 0 8px;
        text-align: center;
    }
}

@media screen and (max-width: 600px) {
    #header-section .text-header-block>.title-header {
        font-size: 38px;
        line-height: 38px;
    }
    #header-section .text-header-block>.title-text {
        font-size: 18px;
        line-height: 30px;
        max-width: 90%;
    }
    #newsletter .form>[type="text"] {
        font-size: 14px;
        padding: 0 8px;
        text-align: center;
        min-width: 270px;
    }
    #reviews {
        padding: 0 30px;
        mix-width: 260px; 
    }
}


@media screen and (max-width: 400px) {
    #header-section .text-header-block>.title-header {
        font-size: 31px;
        line-height: 31px;
    }
    #header-section .text-header-block>.title-text {
        font-size: 16px;
        line-height: 26px;
    }
    #newsletter .form>[type="text"] {
        margin: 0;
        width: 270px;
    }
    #newsletter .form>[type="submit"] {
        width: 270px;
        margin: 10px 0 0 0;
    }
    #reviews {
        padding: 0 20px;
        min-width: 280px;
    }
}