@charset "utf-8";
@import "font.css";
html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    min-height: 100%;
}

body {
    -webkit-font-smoothing: antialiased;
    color: #3b434c;
    font-family: "Open Sans";
}



/*Общие настройки*/

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.clear {
    width: 0;
    height: 0;
    display: block;
    position: relative;
    clear: both;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.orange {
    color: #f7600e;
}

.hidden,
.hidden-more {
    display: none;
}

.content {
    position: relative;
    max-width: 1140px;
    margin: 0 auto;
}

.menu-list {
    font-family: "icons";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: white;
    display: inline-block;
    text-decoration: none;
    width: auto;
    margin-right: 0px;
    text-align: center;
    line-height: 1em;
    margin-left: 16px;
}

header nav {
    padding-right: 20px;
    display: flex;
    align-items: center;
}

header nav .menu-text {
    color: #fff;
    display: inline-block;
    font-size: 20px
}

.menu-link {
    color: #fff;
    font-size: 20px;
    position: absolute;
    top: -4px;
    left: -69px;
    display: none;
}


.up {
    font-family: "icons";
    width: 50px;
    height: 50px;
    position: fixed;
    right: 25px;
    bottom: 25px;
    background-color: #3b434c;
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: #FFF;
    font-size: 33px;
    text-align: center;
    line-height: 50px;
    border-radius: 10px;
    display: none;
    cursor: pointer;
    opacity: 0.9;
    transition: background 0.3s ease;
}

.up:hover {
    background-color: #f7600e;
    border: 1px solid #f7600e;
}

#header-section,
#services,
#newsletter,
#our-works,
#our-team,
#contacts,
footer {
    min-width: 320px;
}



/*Секция header-section*/

#header-section {
    background: url(../images/bg-layer.png), url(../images/bg-01.jpg) no-repeat center fixed;
    background-size: cover;
    box-sizing: border-box;
}

#header-section .content {
    min-height: inherit;
    box-sizing: border-box;
    padding-top: 50px;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    width: 100%;
}

#header-section header.flex {
    justify-content: space-between;
    align-items: center;
}

#logo {
    display: block;
    position: relative;
    width: 158px;
    height: 18px;
    background: url(../images/logo.png) no-repeat center;
    background-size: contain;
    margin-left: 20px;
}


#header-section .text-header-block {
    text-align: center;
    margin: 50px 0 40px 0;
}

#header-section .text-header-block>.title-header {
    font-size: 70px;
    font-weight: 700;
    line-height: 70px;
    color: white;
    margin-bottom: 20px;
}

#header-section .text-header-block>.title-text {
    color: white;
    font-size: 25px;
    font-weight: 400;
    line-height: 40px;
    max-width: 70%;
    margin: 0 auto 50px auto;
}

#header-section .text-header-block>.btns>span {
    display: inline-block;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    color: white;
    font-size: 16px;
    font-weight: 600;
    line-height: 50px;
    min-width: 210px;
    text-transform: uppercase;
    transition: all 0.3s ease;
    cursor: pointer;
    margin: 0 12px 10px 12px;
}



/*
#header-section .text-header-block > .btns > span:first-of-type {
    margin-right: 25px;
}*/

#header-section .text-header-block>.btns>span:hover {
    background-color: #f7600e;
    border-color: #f7600e;
    color: white;
}

#header-section .more {
    text-align: center;
    margin-bottom: 50px;
}

#header-section .more>span {
    display: inline-block;
    width: 34px;
    height: 34px;
    background: url(../images/more.png) no-repeat;
    opacity: 0.5;
    transition: opacity 0.3s ease;
    cursor: pointer;
}

#header-section .more>span:hover {
    opacity: 1;
}



/*Секция services*/

#services ul {
    justify-content: space-around;
    margin: 0;
    padding: 40px 0;
}

#services ul>li {
    width: 260px;
    text-align: center;
    margin: 30px 0;
    position: relative;
}

#services ul>li>a {
    color: #3b434c;
    transition: all 0.3s ease;
}

#services ul>li>a:hover {
    color: #f7600e;
}

#services ul>li>a .icon-printer {
    background: url(../images/printer.png) no-repeat center;
    width: 151px;
    height: 151px;
    display: inline-block;
}

#services ul>li>a .icon-web {
    background: url(../images/web.png) no-repeat center;
    width: 151px;
    height: 151px;
    display: inline-block;
}

#services ul>li>a .icon-app {
    background: url(../images/app.png) no-repeat center;
    width: 151px;
    height: 151px;
    display: inline-block;
}

#services ul>li>a .icon-logo-d {
    background: url(../images/logo-d.png) no-repeat center;
    width: 151px;
    height: 151px;
    display: inline-block;
}

#services ul>li>a>.title {
    font-size: 16px;
    font-weight: 600;
    line-height: 40px;
}

#services ul>li>.text {
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    max-width: 67%;
    margin: 0 auto;
}



/*Секция newsletter*/

#newsletter {
    background: url(../images/bg-layer.png), url(../images/bg-02.jpg) no-repeat fixed center;
    box-sizing: border-box;
    background-size: cover;
}

#newsletter .form {
    min-height: 250px;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#newsletter .form>[type="text"] {
    width: 50%;
    height: 50px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid transparent;
    color: #3b434c;
    font-size: 16px;
    font-weight: 300;
    line-height: 40px;
    padding: 0 25px;
    box-sizing: border-box;
    margin-right: 2%;
}

#newsletter .form>[type="submit"] {
    width: 24%;
    min-width: 120px;
    height: 50px;
    background-color: #f7600e;
    border: 1px solid transparent;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    font-weight: 600;
    line-height: 40px;
    box-sizing: border-box;
    cursor: pointer;
    transition: all 0.3s ease;
    outline: none;
    padding: 0 10px;
}

#newsletter .form>[type="submit"]:hover {
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.2);
}



/*Секция our-works*/

#our-works>.content.flex {
    padding: 80px 0;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 100%;
}

#our-works .row-1 {
    /*max-width: 40%;*/
    max-width: 480px;
    margin-bottom: 80px;
}

#our-works .row-1>.title-header {
    font-size: 35px;
    font-weight: 600;
    line-height: 40px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

#our-works .row-1>.title-text {
    color: #3b434c;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
}

#our-works .row-2.flex {
    justify-content: space-around;
    margin: 0;
    padding: 0;
    width: 100%;
}

#our-works .row-2>li {
    width: 360px;
    height: 360px;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 3vh;
    position: relative;
}

#our-works .row-2>li>img.img {
    background-position: right;
    display: block;
}

.hover {
    position: absolute;
    left: 0px;
    top: 0px;
    height: inherit;
    opacity: 0;
    background: rgba(247, 96, 14, 0.9);
    color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    padding: 0 50px;
    transition: opacity 0.5s ease;
}

#our-works .row-2>li:hover .hover {
    opacity: 1;
}

#our-works .row-2 .hover>.title {
    font-size: 25px;
    font-weight: 400;
}

#our-works .row-2 .hover>.text {
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 15px;
}

#our-works .row-2 .btn {
    margin-top: 40px;
}

#our-works .row-2 .btn>a {
    display: inline-block;
    width: 210px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    line-height: 50px;
    text-transform: uppercase;
    transition: all 0.3s ease;
}

#our-works .row-2 .btn>a:hover {
    background-color: white;
    color: #f7600e;
}

#our-works .row-3>span.btns {
    display: inline-block;
    background-color: white;
    min-width: 210px;
    border: 1px solid rgba(59, 67, 76, 0.2);
    border-radius: 10px;
    color: #3b434c;
    font-size: 16px;
    font-weight: 600;
    line-height: 50px;
    text-transform: uppercase;
    transition: all 0.3s ease;
    cursor: pointer;
    outline: none;
    margin-top: 60px;
}

#our-works .row-3>span.btns:hover {
    background-color: #f7600e;
    border-color: #f7600e;
    color: white;
}



/*Секция reviews*/

#reviews {
    background: url(../images/bg-layer.png), url(../images/bg-03.jpg) no-repeat fixed center;
    color: white;
    background-size: cover;
    position: relative;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    display: flex;
    padding: 0 40px;
    min-width: 240px;
}

#reviews .content {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 90px 0;
    width: 100%;
}

#reviews .text {
    font-size: 25px;
    font-style: italic;
    line-height: 40px;
    text-align: center;
    max-width: 74%;
    margin: 30px 0;
    min-width: 200px;
}

#reviews .name {
    font-size: 18px;
    font-weight: 400;
    line-height: 40px;
}

#reviews .arrow {
    min-width: 21px;
    height: 40px;
}

#reviews .arrow-left {
    background: url(../images/arrow-nav-left.png) no-repeat center;
    background-size: contain;
    width: 21px;
    height: 40px;
    cursor: pointer;
    display: inline-block;
    transition: opacity 0.3s ease;
    opacity: 0.5;
}

#reviews .arrow-left:hover {
    opacity: 1;
}

#reviews .arrow-right {
    background: url(../images/arrow-nav-right.png) no-repeat center;
    background-size: contain;
    width: 21px;
    height: 40px;
    cursor: pointer;
    display: inline-block;
    /*transform: rotate(180deg);*/
    transition: opacity 0.3s ease;
    opacity: 0.5;
}

#reviews .arrow-right:hover {
    opacity: 1;
}



/*Секция our-team*/

#our-team .row-1 {
    max-width: 455px;
    text-align: center;
}

#our-team .content.flex {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 80px 0;
    text-align: center;
}

#our-team .title-header {
    font-size: 35px;
    font-weight: 600;
    line-height: 40px;
    text-transform: uppercase;
}

#our-team .title-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    margin: 15px 0 60px 0;
}

#our-team ul.row-2.flex {
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: space-around;
    width: 100%;
}

#our-team .row-2>li {
    margin-bottom: 20px;
    width: 262px;
}

#our-team .row-2>li>.photo {
    display: flex;
    width: 100%;
    height: 314px;
    justify-content: center;
    align-items: flex-end;
}

#our-team .row-2>li>.photo>span {
    display: block;
    width: 235px;
    height: 285px;
    border: 1px solid transparent;
    border-radius: 10px;
    background: no-repeat center;
    background-size: cover;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: all 0.5s ease;
}

#our-team .row-2>li:hover>.photo>span {
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    filter: grayscale(0%);
    width: inherit;
    height: inherit;
    border-width: 0 0 3px 0;
    border-radius: 10px 10px 0 0;
    border-bottom: 5px solid #f7600e;
}

#our-team .row-2>li>.text {
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    transition: all 0.5s ease;
    padding: 0 5px;
    color: #9da1a5;
}

#our-team .row-2>li>.name {
    color: #9da1a5;
    font-family: "Open Sans";
    font-size: 25px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 25px 0;
    transition: all 0.5s ease;
}

#our-team .row-2>li:hover .name,
#our-team .row-2>li:hover .text {
    color: #3b434c;
}

#our-team .row-2>li>.social {
    margin-bottom: 25px;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: all 0.5s ease;
}

#our-team .row-2>li:hover .social {
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    filter: grayscale(0%);
}

#our-team .row-2>li>.social a {
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url(../images/social-icons-1.png) no-repeat;
    margin-right: 10px;
}

#our-team .row-2>li>.social a:last-of-type {
    margin-right: 0;
}

#our-team .row-2>li>.social a:nth-of-type(1) {
    background-position: 0 0;
}

#our-team .row-2>li>.social a:nth-of-type(2) {
    background-position: center 0;
}

#our-team .row-2>li>.social a:nth-of-type(3) {
    background-position: right 0;
}

#our-team .row-3 {
    display: none;
}

#our-team .row-3 i {
    width: 15px;
    height: 15px;
    display: flex;
    margin: 0 7.5px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#our-team .row-3 i span {
    background-color: #c4c6c9;
    width: 70%;
    height: 70%;
    transition: all 0.3s ease;
    display: block;
    border-radius: 50%;
}

#our-team .row-3 i span:hover,
#our-team .row-3 i.active-our-team span {
    width: inherit;
    height: inherit;
    background-color: #f7600e;
}

#our-team .row-3>a:hover>span,
#our-team .row-3>a.active>span {
    width: inherit;
    height: inherit;
    background-color: #f7600e;
}



/*Секция contacts*/

#contacts {
    background: url(../images/bg-layer.png), url(../images/bg-04.jpg) no-repeat center fixed;
    background-size: cover;
    box-sizing: border-box;
}

#contacts .content.flex {
    width: 100%;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 80px 0;
}

#contacts .row-1 {
    margin-bottom: 80px;
    text-align: center;
    max-width: 470px;
    padding: 0 3%;
}

#contacts .row-1 .title-header {
    font-size: 35px;
    font-weight: 600;
    line-height: 40px;
    margin-bottom: 15px;
    text-transform: uppercase;
    color: white;
}

#contacts .row-1 .title-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    color: white;
}

#contacts .row-2 {
    max-width: 72%;
}

#contacts .row-2 .form.flex {
    justify-content: space-between;
}

#contacts .row-2 .form [type="text"] {
    height: 50px;
    width: 49%;
    background-color: white;
    border: 1px solid transparent;
    border-radius: 10px;
    padding: 0 15px;
    box-sizing: border-box;
    color: #3b434c;
    font-size: 16px;
    font-weight: 400;
    outline: none;
}

#contacts .row-2 .form textarea {
    width: 100%;
    height: 200px;
    background-color: white;
    border: 1px solid transparent;
    border-radius: 10px;
    padding: 15px;
    margin: 30px 0;
    box-sizing: border-box;
    color: #3b434c;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    outline: none;
}

#contacts .row-2 .form [type="submit"] {
    width: 210px;
    height: 50px;
    background-color: #f7600e;
    border: 1px solid transparent;
    border-radius: 10px;
    color: white;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    margin: 0 15px 15px 0;
}

#contacts .row-2 .form [type="submit"]:hover {
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

#contacts .row-2 .form>.social>a {
    display: inline-block;
    width: 43px;
    height: 50px;
    background: url(../images/social-icons-2.png) no-repeat;
    margin-right: 15px;
    opacity: 0.8;
    transition: opacity 0.3s ease;
}

#contacts .row-2 .form>.social>a:hover {
    opacity: 1;
}

#contacts .row-2 .form>.social>a:last-of-type {
    margin-right: 0;
}

#contacts .row-2 .form>.social>a:nth-of-type(1) {
    background-position: 0 center;
}

#contacts .row-2 .form>.social>a:nth-of-type(2) {
    background-position: 25% center;
}

#contacts .row-2 .form>.social>a:nth-of-type(3) {
    background-position: center center
}

#contacts .row-2 .form>.social>a:nth-of-type(4) {
    background-position: 75% center;
}

#contacts .row-2 .form>.social>a:nth-of-type(5) {
    background-position: right center;
}



/*Секция footer*/

footer {
    background-color: #3b434c;
}

footer .content.flex {
    justify-content: space-between;
    align-items: center;
    min-height: 100px;
    color: white;
    text-transform: uppercase;
    padding: 0 100px;
    width: 100%;
}

.gre {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}