$font-default: "Roboto", sans-serif;
// $font-default: "Open Sans", sans-serif;
// $font-default: "Roboto Slab", serif;
$font-title: "Oswald", sans-serif;
// $font-default: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

$accent: #1179BF;//#FE9E88;//#FF6347;//#F64747;

$bg-body: #FFFFFF;
$bg-body-dark: #4C4F65;
$bg-body-light: #FAFAFA; //#F2F1EF;
$bg-header: #1179BF;;//#06081E;//#1179BF;
$bg-main: #1179BF;
$bg-skills: #FFFFFF;
$bg-portfolio: #22222f;//#FF9F2f;
$bg-portfolio-descr: #ffffff;
$bg-contacts: #FAFAFA;
$bg-button: #33333F;
$bg-form: #ffffff;
$bg-success: #ffffff;

$text-light: #FFFFFF;
$text-dark: #3c454f; //#4D4D4D;//#33333f;
$text-danger: #FF6347;
$text-light-portfolio: #eeeeee;
$text-dark-portfolio: #888888;
$text-color-portfolio: #1184F0;
$header-text-shadow: #0d5687;
$text-footer-dark: #888;

$button-light: #1179BF;
$button-dark: #0e6191;

$green: #88c429;
$link: #4C4F65;
$text-color: #1179BF;
$orange: #ff9800; //#FF9F1A;

$menu-blue: #1184F0;
$menu-blue-test: #3194F0;

$top-light-blue: #4997D2;
$pink: #E91E63;
